@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@700&display=swap'); /* Importing Proxima Nova font with bold weight */

body {
    display: flex; /* Centers the content horizontally */
    flex-direction: column; /* Stacks elements vertically */
    justify-content: center; /* Centers the content vertically */
    align-items: center; /* Centers the content horizontally */
    height: 100vh; /* Sets the height of the viewport to 100% */
    margin: 0; /* Removes default margin */
    background-color: #2c2c2f; /* Sets the background color */
    font-family: proxima nova; /* Sets the font for the text */
}

.slot-machine {
    position: relative; /* Positions the element relative to its normal position */
    width: 350px; /* Sets the width of the slot machine */
    height: 120px; /* Sets the height of the slot machine */
    overflow: hidden; /* Hides content that overflows */
    border: 2px solid #313131; /* Adds a border with color */
    border-radius: 15px; /* Rounds the corners */
    background: #444348; /* Sets the background color */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adds a shadow for depth */
    margin-bottom: 20px; /* Adds space below the slot machine */
}

.slot {
    display: flex; /* Displays elements in a flexible box */
    flex-direction: column; /* Stacks elements vertically */
    height: 100%; /* Sets the height to 100% of the container */
}

.words {
    animation: slotAnimation 14s infinite; 
    /* Applies the animation with duration and infinite loop */
}

.words div {
    height: 120px; /* Sets the height for each word */
    display: flex; /* Uses flexbox for centering */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    font-size: 39px; /* Sets the font size */
    font-weight: bold; /* Makes the font bold */
    color: #d9d6d6; /* Sets the font color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Adds shadow to the text */
}

@keyframes slotAnimation {
    0%, 10% { transform: translateY(0); } /* Initial and first phase */
    12.5%, 22.5% { transform: translateY(-120px); } /* Move up by one word height */
    25%, 35% { transform: translateY(-240px); } /* Move up by two word heights */
    37.5%, 47.5% { transform: translateY(-360px); } /* Move up by three word heights */
    50%, 60% { transform: translateY(-480px); } /* Move up by four word heights */
    62.5%, 72.5% { transform: translateY(-600px); } /* Move up by five word heights */
    75%, 85% { transform: translateY(-720px); } /* Move up by six word heights */
    87.5%, 97.5% { transform: translateY(-840px); } /* Move up by seven word heights */
    100% { transform: translateY(0); } /* Return to initial position */
}
